{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "linebreak-style": "off",
    "import/no-extraneous-dependencies": [2, { devDependencies: true }]
  }
}

